@import "tailwindcss";

body {
  background: radial-gradient(
    circle at top,
    #020617 0%,
    #020617 40%,
    #000000 100%
  );
}
.glass {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}
html {
  scroll-behavior: smooth;
}

